<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>But trap</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {{{_sections.css}}}
    
    <style>
      /* Đảm bảo hình ảnh không bị tràn ra ngoài */
      .article-content img {
        max-width: 100%;
        height: auto;
        display: block; /* Giúp căn giữa nếu có margin: auto */
        margin-left: auto;
        margin-right: auto;
      }

      /* Căn giữa cho văn bản và các phần tử khác */
      .article-content .ql-align-center {
        text-align: center;
      }

      /* Căn giữa cho video/iframe */
      .article-content .ql-video.ql-align-center {
        margin: 0 auto;
      }
    </style>
</head>
<body>

 <nav class="navbar navbar-expand-lg bg-body-tertiary shadow">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Disabled</a>
        </li>
      </ul>
      <form class="d-flex me-4" role="search" method="get" action="/products/search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="q"/>
        <button class="btn btn-sm btn-outline-success" type="submit">
          <i class="bi bi-search"></i>

        </button>
      </form>
        <ul class="navbar-nav ms-auto">
          {{#if isAuthenticated}}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, <b>{{authUser.name}}</b>
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li>
                <a class="dropdown-item" href="account/profile">
                  <i class="bi bi-person-circle"></i>
                  Profile</a>
              </li>
              <li>
                <a class="dropdown-item" href="/account/change-password">
                  <i class="bi bi-key"></i>
                  Change Password
                </a>
              </li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li>
                <a class="dropdown-item" href="javascript: document.querySelector('#frmSignout').submit();">
                  <i class="bi bi-box-arrow-right"></i>
                  Sign Out
                </a>
              </li>
            </ul>
          </li>
          <form id="frmSignout" action="/account/signout" method="post"></form>
          {{else}}
          <li class="nav-item">
            <a class="nav-link" href="/account/signup">
              <i class="bi bi-person-plus"></i>
              Sign Up
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/account/signin">
              <i class="bi bi-box-arrow-in-right"></i>
              Sign In
            </a>
          </li>
          {{/if}}
        </ul>
    </div>
  </div>
 </nav>

<main class="container mt-4">
    {{{body}}}
</main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    {{{_sections.js}}}
</body>
</html>